<?xml version="1.0" encoding="utf-8"?>
<!-- This system tryes to detect if there is a pedestrian (or something infront of the car)-->

<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/velodyne_points" />
    <remap from="~output" to="/velodyne_downsampled" />
    <!-- Output will be a pointcloud
    that only contains points representing a point for every 0.1m
    where every point is in between z (height) 0.2 and 1.7 to
    avoid false positives when detecting pedestrians 

    More info:
    http://wiki.ros.org/pcl_ros/Tutorials/filters
    and
    Tutorial:
    http://wiki.ros.org/pcl_ros/Tutorials/VoxelGrid%20filtering

    You can tune the values of this node using dynamic reconfigure with:
    rosrun rqt_reconfigure rqt_reconfigure
    -->
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.20
      filter_limit_max: 1.7
      filter_limit_negative: False
      leaf_size: 0.1
      input_frame: base_link
      output_frame: base_link
    </rosparam>
  </node>
</launch>
